## Помічник у грі «Словко» / 09-02-2022

### 1. Завантажуємо помічника у Jupiter

In [2]:
import pandas as pd

In [75]:
slovko = pd.read_csv('word.csv', encoding='Windows-1251')
slovko.head()

    word
0  абзац
1  абиде
2  абияк
3  аборт
4  абрек

In [77]:
print(f'Маємо {slovko.shape[0]} варіантів.')

Маємо 5488 варіантів.

### 2. Розбиваємо слово на літери

In [79]:
slovko['one'] = slovko['word'].astype(str).str[0]
slovko['two'] = slovko['word'].astype(str).str[1]
slovko['three'] = slovko['word'].astype(str).str[2]
slovko['four'] = slovko['word'].astype(str).str[3]
slovko['five'] = slovko['word'].astype(str).str[4]
slovko.head()

    word one two three four five
0  абзац   а   б     з    а    ц
1  абиде   а   б     и    д    е
2  абияк   а   б     и    я    к
3  аборт   а   б     о    р    т
4  абрек   а   б     р    е    к

### 3. Просимо допомогу після першої спроби

In [80]:
first = slovko.query("(one == 'у' | three == 'у' | four == 'у' | five == 'у') & (one == 'о' | two == 'о' | three == 'о' | four == 'о')")
first.head()

      word one two three four five
452  клоун   к   л     о    у    н
458  когут   к   о     г    у    т
460  кожух   к   о     ж    у    х
463  козуб   к   о     з    у    б
476  коцур   к   о     ц    у    р

In [81]:
print(f'Маємо {first.shape[0]} варіантів.')

Маємо 90 варіантів.

### 4. Просимо допомогу після другої спроби.

In [82]:
second = first.query("(two == 'о') & (one == 'к' | three == 'к' | five == 'к') & (one == 'у' | three == 'у' | four == 'у' | five == 'у')")
second.head(n=100)

       word one two three four five
458   когут   к   о     г    у    т
460   кожух   к   о     ж    у    х
463   козуб   к   о     з    у    б
476   коцур   к   о     ц    у    р
659   пошук   п   о     ш    у    к
2476  кобуз   к   о     б    у    з
2497  кокус   к   о     к    у    с
2507  колун   к   о     л    у    н
2520  конус   к   о     н    у    с
2550  котун   к   о     т    у    н
2786  локус   л   о     к    у    с
3597  погук   п   о     г    у    к
3619  покуп   п   о     к    у    п
4675  фокус   ф   о     к    у    с

In [74]:
print(f'Маємо {second.shape[0]} варіантів.')

Маємо 14 варіантів.

### 5. Просимо допомогу після третьої спроби.

In [86]:
third = second.query("(two == 'о') & (four == 'у') & (one == 'к' | three == 'к' | five == 'к')")
third.head(n=100)

       word one two three four five
458   когут   к   о     г    у    т
460   кожух   к   о     ж    у    х
463   козуб   к   о     з    у    б
476   коцур   к   о     ц    у    р
659   пошук   п   о     ш    у    к
2476  кобуз   к   о     б    у    з
2497  кокус   к   о     к    у    с
2507  колун   к   о     л    у    н
2520  конус   к   о     н    у    с
2550  котун   к   о     т    у    н
2786  локус   л   о     к    у    с
3597  погук   п   о     г    у    к
3619  покуп   п   о     к    у    п
4675  фокус   ф   о     к    у    с

In [87]:
print(f'Маємо {third.shape[0]} варіантів.')

Маємо 14 варіантів.

### 6. Просимо допомоги після четвертої спроби.

In [92]:
fourth = third.query("(two == 'о') & (four == 'у') & (three == 'к' | five == 'к')")
fourth.head(n=100)

       word one two three four five
659   пошук   п   о     ш    у    к
2497  кокус   к   о     к    у    с
2786  локус   л   о     к    у    с
3597  погук   п   о     г    у    к
3619  покуп   п   о     к    у    п
4675  фокус   ф   о     к    у    с

In [93]:
print(f'Маємо {fourth.shape[0]} варіантів.')

Маємо 6 варіантів.

### 7. Просимо допомогти після п'ятої спроби.

In [95]:
fifth = fourth.query("(two == 'о') & (four == 'у') & (three == 'к' | five == 'к') & (one == 'п')")
fifth.head(n=100)

       word one two three four five
659   пошук   п   о     ш    у    к
3597  погук   п   о     г    у    к
3619  покуп   п   о     к    у    п

In [91]:
print(f'Маємо {fifth.shape[0]} варіантів.')

Маємо 3 варіантів.